node_modules/

# Output directory for build. Temporary; we'll fold in to docs/ eventually
# because that's where GitHub Pages expects everything to go.
public/

# Temporarily ignoring these until we figure out the deployment model
docs/fateOfAllFools.js
docs/fateOfAllFools.css

.DS_Store
