dist: trusty
language: node_js
node_js:
  "9"
addons:
  chrome: stable
before_install:
  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &
script:
  - ./node_modules/.bin/brunch build --production
