:root {
  --fate-armor-gutter-width: 13px;
}

.bucket-3448274439 .item-drag-container,
.bucket-3551918588 .item-drag-container,
.bucket-14239492 .item-drag-container,
.bucket-20886954 .item-drag-container,
.bucket-1585787867 .item-drag-container
{
  background-color: rgba(31,31,31,1);
  width: calc(var(--item-size) + var(--fate-armor-gutter-width));
}

.bucket-3448274439 .item,
.bucket-3551918588 .item,
.bucket-14239492 .item,
.bucket-20886954 .item,
.bucket-1585787867 .item
{
  width: calc(var(--item-size) + var(--fate-armor-gutter-width));
}

.bucket-3448274439 .item-img,
.bucket-3551918588 .item-img,
.bucket-14239492 .item-img,
.bucket-20886954 .item-img,
.bucket-1585787867 .item-img
{
  margin-left: var(--fate-armor-gutter-width);
}

.bucket-3448274439 .sub-bucket,
.bucket-3551918588 .sub-bucket,
.bucket-14239492 .sub-bucket,
.bucket-20886954 .sub-bucket,
.bucket-1585787867 .sub-bucket
{
  grid-template-columns: repeat(auto-fill, calc(var(--item-size) + var(--fate-armor-gutter-width)));
}

.bucket-3448274439 .foaf-masterwork,
.bucket-3551918588 .foaf-masterwork,
.bucket-14239492 .foaf-masterwork,
.bucket-20886954 .foaf-masterwork,
.bucket-1585787867 .foaf-masterwork
{
  left: var(--fate-armor-gutter-width);
}

.bucket-3448274439 .foaf-pve,
.bucket-3551918588 .foaf-pve,
.bucket-14239492 .foaf-pve,
.bucket-20886954 .foaf-pve,
.bucket-1585787867 .foaf-pve,
.bucket-3448274439 .foaf-pvp,
.bucket-3551918588 .foaf-pvp,
.bucket-14239492 .foaf-pvp,
.bucket-20886954 .foaf-pvp,
.bucket-1585787867 .foaf-pvp
{
  left: 10px;
}

.bucket-3448274439 [data-fate-armor-pve="true"][data-fate-armor-pvp="true"] > .foaf-pve,
.bucket-3551918588 [data-fate-armor-pve="true"][data-fate-armor-pvp="true"] > .foaf-pve,
.bucket-14239492 [data-fate-armor-pve="true"][data-fate-armor-pvp="true"] > .foaf-pve,
.bucket-20886954 [data-fate-armor-pve="true"][data-fate-armor-pvp="true"] > .foaf-pve,
.bucket-1585787867 [data-fate-armor-pve="true"][data-fate-armor-pvp="true"] > .foaf-pve
{
  left: calc(var(--fate-armor-gutter-width) + 10px);
}

/*
  Center DIM's built in tag under the armor stat gutter.
*/
.bucket-3448274439 .item ._3SO_-,
.bucket-3551918588 .item ._3SO_-,
.bucket-14239492 .item ._3SO_-,
.bucket-20886954 .item ._3SO_-,
.bucket-1585787867 .item ._3SO_-
{
  left: 2px;
}