/*
  When DIM updates, these identifiers are sometimes rolled. They are DIM
  overrides, but cordoned off here in their own file so it's clear which
  styles may need to be examined when there is a major new version.
*/

/*
  EFFECT: Remove the new BL gradient background.
  REASON: It's really pretty but further reduces the contrast between items
          and the background.
*/
body,
.bqhls::before
{
  background: unset !important;
  background-color: #000 !important;
}

/*
  EFFECT: Remove the gear icon.
  REASON: No need to take up 30% of the display area with something that's
          helpful nearly 0% of the time now that sunsetting is gone.
*/
.F9dGw
{
  display: none;
}

/*
  EFFECT: Hides the masterwork image overlay on exotics and legendaries.
          Sometimes it's two classes; sometimes it's one 🤷
  REASON: We use our own more subtle way to indicate what's masterworked.
*/
.EJ0gV,
.ocMSk
{
  background-image: none;
}

/*
  EFFECT: Dramatically restyle the info bar.
    - Mute the info bar for items.
    - Increase the height.
    - Reset overflow so we can move items outside of the bar.
  REASON: In aggregate they take up a lot of pixels and the contrast is too high.
*/ 
.SLO2o
{
  align-items: unset;
  background-color: rgba(44, 44, 44, 0.7);
  color: rgb(240, 240, 240, 1.0);
  height: calc(((var(--item-size) / 5) + 3px)) !important;
  line-height: calc(((var(--item-size) / 5) + 3px)) !important;
  margin-top: 0;
  padding-right: 6px;
  overflow: unset;
  vertical-align: top;
}

.item[data-fate-masterwork='true'] .SLO2o
{
  background: radial-gradient(circle, rgba(253,222,29,0.5) 0%, rgba(111,98,13,0.5) 100%);
}

/*
  EFFECT: On armor, hide power level indicator and elemental affinity.
  REASON: No need and we have our own approach, respectively.
*/ 
.XvpsT
{
  display: none;
}

/*
  EFFECT: On weapons, hide elemental affinity.
  REASON: We have our own approach.
*/
.e0VY8
{
  display: none;
}

/*
  EFFECT: Color the icon tray on item popups with a background that stands out
  REASON: Not enough contrast; keep losing it
*/
.LyiQ3 {
  background-color: #173192;
}

/*
  EFFECT: Restyle DIM's tagging icons. This is the icon itself, not the container.
  REASON: To look more like ours.
*/
.a5Pkx
{
  color: rgb(232, 225, 33);
  font-size: 10px;
  position: absolute;
  height: unset;
  width: unset;
}

/*
  EFFECT: Reposition DIM's tagging icons.
  REASON: So they don't overlap the weapon.
*/
.TRM0_
{
  bottom: 29px;
  left: 2px;
  top: unset;
}
.bucket-2465295065 .TRM0_,
.bucket-953998645 .TRM0_
{
  bottom: 29px;
  left: unset;
  right: 13px;
  top: unset;
}

/*
  EFFECT: Hide large notifications
  REASON: This is a neat idea, but it so frequently obscures the portion of the
          vault I'm looking.
*/
.QKPrn {
  display: none;
}

/*
  EFFECT: Hide Deepsight image border
  REASON: We'll use our own visual treatment
*/
.rF59A
{
  display: none;
}

/*
  EFFECT: Hide whatever this is supposed to be. Weird red border around light level.
  REASON: Don't know what it is. Maybe Deepsight?
*/
.sci0Q
{
  border: unset !important;
}

/*
  EFFECT: Hide the big exclamation icon for "attunement complete"
  REASON: Too much!
*/
.Ly0Lf
{
  display: none;
}

/*
  EFFECT: Reposition the enclave/crafting indicator
  REASON: Prefer our own styling
*/
.pUWnX
{
  background-color: rgba(0,0,0,0.75);
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 4px;
}
.bucket-2465295065 .pUWnX,
.bucket-953998645 .pUWnX
{
  right: unset;
  left: 0
}