/*
  When DIM updates, these identifiers are sometimes rolled. They are DIM
  overrides, but cordoned off here in their own file so it's clear which
  styles may need to be examined when there is a major new version.
*/

/*
  EFFECT: Pull the 'gear' seasonal icon over and up flush with the cell.
  REASON: It's a little off kilter.
  VERIFIED: 6.75.0
*/
.XMWhP
{
  /* left: 0; */
  /* top: 0; */
  display: none;
}

/*
  EFFECT: Hides the masterwork image overlay on exotics and legendaries.
  REASON: We use our own more subtle way to indicate what's masterworked.
  VERIFIED: 6.75.0
*/
.q9TdK,
.m_jVB
{
  background-image: none;
}

/*
  EFFECT: Dramatically restyle the info bar.
    - Mute the info bar for items.
    - Increase the height.
    - Reset overflow so we can move items outside of the bar.
  REASON: In aggregate they take up a lot of pixels and the contrast is too high.
  VERIFIED: 6.75.0
*/ 
.yEIm1
{
  align-items: unset;
  background-color: rgba(44, 44, 44, 0.7);
  color: rgb(240, 240, 240, 1.0);
  height: calc(((var(--item-size) / 5) + 3px)) !important;
  line-height: calc(((var(--item-size) / 5) + 3px)) !important;
  margin-top: 0;
  padding-right: 6px;
  overflow: unset;
  vertical-align: top;
}

/*
  EFFECT: On armor, hide power level indicator and elemental affinity.
  REASON: No need and we have our own approach, respectively.
  VERIFIED: 6.75.0
*/ 
._16yY
{
  display: none;
}

/*
  EFFECT: On weapons, hide elemental affinity.
  REASON: We have our own approach.
  VERIFIED: 6.75.0
*/
._8tC_
{
  display: none;
}

/*
  EFFECT: "Disable" items that are DIM-junked and remove their element.
  REASON: So we can ignore them when scanning our vaults
  VERIFIED: 6.39.0
*/
[data-fate-dimtag-junk='true'] .item-img {
  filter: grayscale(100%);
  opacity: 0.6;
}

/*
  EFFECT: Color the icon tray with a background that stands out
  REASON: Not enough contrast; keep losing it
  VERIFIED: 6.75.0
*/
.VxCIF {
  background-color: #173192;
}

/*
  EFFECT: Restyle DIM's tagging icons.
  REASON: To look more like ours.
  VERIFIED: 6.75.0
*/
.Uhkx7
{
  color: rgb(232, 225, 33);
  font-size: 10px;
  position: absolute;
  height: unset;
  width: unset;
}

.Ddoxk
{
  bottom: 29px;
  left: 2px;
  top: unset;
}

.bucket-2465295065 .Ddoxk,
.bucket-953998645 .Ddoxk
{
  bottom: 29px;
  left: unset;
  right: 13px;
  top: unset;
}