/* 5.47.0 */

/*
  This allows you to control the number of items in your vault by
  shrinking the window.
*/
.inventory-content {
  min-width: unset;
}

/*
  Hide the searching + symbol added to each vault slot.
*/
.fa-plus-circle {
  display: none;
}

/*
  EFFECT: Hides the masterwork image overlay on exotics and legendaries.
  REASON: We use our own more subtle way to indicate what's masterworked.
*/
._2kz8P,
._3iMN1
{
  background-image: none;
}

/*
  EFFECT: Remove the single-line border around all items.
  REASON: The contrast between the item image and the background is enough
          to indicate a difference in meaning. Less visual noise.
*/ 
.item .item-img
{
  border: none;
}

/*
  EFFECT: Remove the white border around equipped items.
  REASON: We can tell from how this mirrors the Destiny UI itself what
          we have equipped. Don't need another indicator.
*/
.equipped-item
{
  border: inherit;
  padding: 0;
}

/*
  EFFECT: Hides the DIM built-in "lock" icon when an item is locked.
  REASON: Most items in the inventory are locked, which means that
          this end up being super graphically noisy. I.e. most every
          piece of gear you have will have it displayed and we don't
          need hundreds of bright red lock icons on the screen.
*/
._3SO_- > svg.fa-lock {
  display: none !important;
}

/*
  EFFECT: Hides the DIM built-in "thumbs down" icon when an item is trashed via
          the "wish list" feature.
  REASON: We're opting for a more visually obvious mechanism since that slot is
          generally where good things go.
*/
._16Lie > svg.fa-thumbs-down {
  display: none !important;
}

/*
  EFFECT: Hides the DIM built-in "thumbs up" icon when an item is good via
          the "wish list" feature.
  REASON: We're opting for a more visually obvious mechanism since that slot is
          generally where our own icons go.
*/
._16Lie > svg.fa-thumbs-up {
  display: none !important;
}

/* Go for a more muted background */
body,
#header,
.sticky-header-background,
.store-header,
.store-cell.vault {
  background-color: #111 !important;
}

/* Remove fold/unfold icon next to section headings */
[data-icon='caret-down'],
[data-icon='caret-right']
{
  display: none !important;
}

/* Improve design of section breaks */
.title {
  background-color: rgba(221,221,221,0.1) !important;
  font-family: 'Helvetica Neue', 'Helvetica', Arial !important;
  font-size: 2.5em !important;
  font-weight: bold !important;
  height: 50px !important;
  line-height: 50px !important;
  margin: 10px 0 !important;
}

/* Stat bar background */
.item ._3TPBp {
  background-color: rgba(31,31,31,1);
  color: rgba(255,255,255,0.8);
  font-size: 12px;
  font-weight: bold;
}

.item ._2zwYw.wk_ci {
  border-top: 1px solid rgba(99, 66, 148, 0.67);
  width: 25px;
  height: 0;
  position: absolute;
  bottom: 1px;
  right: 0;
}

.item ._2zwYw {
  border-top: 1px solid rgb(240, 99, 30);
  width: 25px;
  height: 0;
  position: absolute;
  bottom: 1px;
  right: 0;
}

.item ._1sVsX {
  border-top: 1px solid rgb(121, 187, 232);
  width: 25px;
  height: 0;
  position: absolute;
  bottom: 1px;
  right: 0;
}

/*
  EFFECT: Change the location, color and size of DIM's built-in tag icons.
  REASON: So they blend in with our own tags.
*/
.item ._3SO_- {
  top: unset;
  right: unset;
  bottom: 3px;
  left: 2px;
}

.item ._2qGNh {
  color: rgb(236, 41, 41);
  width: calc(var(--item-size) / 7);
  height: calc(var(--item-size) / 7);
}

.armor-class-icon {
  display: none;
}

/* Remove element indicator from armor; effectively means nothing */
[data-fate-armor-registered] .item-equipment .primary-stat img {
  border-top: 0;
}