/* 5.3.1 */

.item.masterwork .overlay,
.item.exotic.masterwork .overlay,
.sub-section .equipped-item
{
  background-image: none;
}

.item .item-img,
.item.masterwork .item-img
{
  border: 1px solid rgba(125, 125, 125, 0.82);
}

.sub-section .equipped-item
{
  border: inherit;
  padding: 0;
}

/* Remove lock icon - it's not important enough to be at the top level. */
svg.fa-lock {
  display: none !important;
}

/* Go for a more muted background */
body,
#header,
.sticky-header-background,
.store-header,
.store-cell.vault {
  background-color: #111 !important;
}

.item-tag {
  display: none;
}

/* Remove fold/unfold icon next to section headings */
[data-icon='caret-down'],
[data-icon='caret-right']
{
  display: none !important;
}

/* Improve design of section breaks */
.title {
  background-color: rgba(221,221,221,0.1) !important;
  font-family: 'Helvetica Neue', 'Helvetica', Arial !important;
  font-size: 2.5em !important;
  font-weight: bold !important;
  height: 50px !important;
  line-height: 50px !important;
  margin: 10px 0 !important;
}

/* Stat bar background for exotics */
.item.capped .item-stat,
.item.complete .item-stat
{
  background-color: rgba(17,17,17,0.7);
}

/* Stat bar background for everything not exotic */
.item .item-stat {
  margin-top: -2px;
  background-color: rgba(17,17,17,0.7);
  color: rgba(255,255,255,0.8);
  font-size: 12px;
  font-weight: bold;
  position: relative;
  top: -16px;
  left: 1px;
  width: calc((var(--item-size) - 2px));
}

/* Hardcore item height */
.item-drag-container
{
  height: 66px !important;
  margin: 0 6px 6px 0;
}

.item .element.void {
  border-top: 2px solid rgb(64, 38, 103);
  width: 26px;
  height: 0;
  position: relative;
  top: -12px;
  right: -23px;
}

.item .element.solar {
  border-top: 2px solid rgb(240, 99, 30);
  width: 26px;
  height: 0;
  position: relative;
  top: -12px;
  right: -23px;
}

.item .element.arc {
  border-top: 2px solid rgb(121, 187, 232);
  width: 26px;
  height: 0;
  position: relative;
  top: -12px;
  right: -23px;
}
