/* Remove all damage type elements from items (little colored notch on top left) */
.item-element {
  display: none;
}

/* Reset background color and font size for increased readability */
div[drag-channel='Kinetic'] > .item-stat.item-equipment,
div[drag-channel='Energy'] > .item-stat.item-equipment,
div[drag-channel='Power'] > .item-stat.item-equipment,
div[drag-channel='Helmet'] > .item-stat.item-equipment,
div[drag-channel='Gauntlets'] > .item-stat.item-equipment,
div[drag-channel='Chest'] > .item-stat.item-equipment,
div[drag-channel='Leg'] > .item-stat.item-equipment,
div[drag-channel='ClassItem'] > .item-stat.item-equipment {
  background-color: rgba(0,0,0,0.75);
  bottom: 2px;
  color: rgba(255,255,255,0.8);
  font-size: 12px;
  font-weight: bold;
  padding: 0 3px 0 4px;
  right: 2px;
  text-align: right;
}

/* Align with the top of the power level */
div[drag-channel='Kinetic'] > .item-review,
div[drag-channel='Helmet'] > .item-review,
div[drag-channel='Gauntlets'] > .item-review,
div[drag-channel='Chest'] > .item-review,
div[drag-channel='Leg'] > .item-review,
div[drag-channel='ClassItem'] > .item-review {
  bottom: 19px !important;
}

.item-review {
  background-color: rgba(0,0,0,0.75);
  bottom: 21px !important;
  color: rgba(255,255,255,0.8) !important;
  font-size: 9px;
  font-weight: normal;
  left: unset;
  padding: 0 3px 0 4px;
  position: absolute;
  right: 2px;
  text-align: right;
}

/* We never use the collapse controls */
.fa.collapse.fa-minus-square-o,
.fa.collapse.fa-plus-square-o {
  display: none;
}

/* We never switch subclasses */
.sub-section.sort-3284755031 {
  display: none;
}

/*
  We removed the elemental damage color swatches from the weapons, as it was
  additional decoration we could capture elsewhere. We still want to indicate
  elemental damage type, so let's use the background of the damage number to
  indicate that.
*/
.item-element.arc ~ .item-stat {
  border-top: 2px solid rgba(133,197,236,1);
}
.item-element.solar ~ .item-stat {
  border-top: 2px solid rgba(242,114,27,1);
}
.item-element.void ~ .item-stat {
  border-top: 2px solid rgba(177,132,197,1);
}

/* Masterworks have gold power levels */
.item-img.masterwork ~ .item-stat {
  color: rgba(232,165,52,1) !important;
}

/* Go for a more muted background */
body,
#header,
.sticky-header-background,
.store-cell.vault {
  background-color: #111 !important;
}

/* Improve design of section breaks */
.title {
  background-color: rgba(221,221,221,0.1) !important;
  font-family: Arial !important;
  font-size: 2.5em !important;
  font-weight: bold !important;
  height: 50px !important;
  line-height: 50px !important;
  margin: 10px 0 !important;
}

/*
  Uniform, translucent borders. Both modded items and masterworks were using
  the borders, which was too much visual weight.
*/
.item-img,
.item-img.complete,
.item-img.masterwork {
  background-repeat: no-repeat;
  border: 2px solid #929292;
}

.section.ng-scope.weapons > .title {
  display: none;
}

/*
  With the weapons banner gone, we need a little bit of spacing at the top
  so the weapons aren't jammed up right against the top.
*/
.section.ng-scope.weapons {
  padding-top: 10px;
}

/*
  Remove orange masterwork glow
*/
.item-img.masterwork::after {
  display: none !important;
}
