/* Used when focusing on specific weapons (to dim others) */
.fate-search-hidden {
  opacity: 0.2;
}

/* Dot indicator next to light level that indicates mod-ness */
.fate-mod {
  padding-left: 1px;
}

/* [FATE Config] link in the lower left that allows you to change feed URL */
.fate-config {
  cursor: pointer;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  font-weight: bold;
  color: #f5dc56;
}

/* Displays on top of weapons that you can infuse in to the focused one */
.fate-infuse-new-light {
  background-color: rgba(0,0,0,0.725);
  color: rgba(245, 202, 31, 1);
  border-top: 2px solid rgba(245, 202, 31, 1);
  border-bottom: 2px solid rgba(245, 202, 31, 1);
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  line-height: 23px;
  position: absolute;
  top: 20px;
  left: 2px;
  width: 66px;
}

/* STATUS INDICATORS: Common styling */
.fate-glyph {
  background-color: rgba(0,0,0,0.65);
  font-size: 11px;
  position: absolute;
  text-shadow: none;
}
.fate-positive {
  color: rgba(93,181,110,1);
}
.fate-negative {
  color: rgba(206,82,70,1);
}
.fate-middling {
  color:rgba(221,221,221,1);
}

/* STATUS INDICATORS: Positioning */
.fate-left-bump {
  left: 19px !important;
}
.fate-dupe {
  font-size: 11px;
  bottom: 2px;
  left: 2px;
  padding: 0px 1px 2px 1px;
}
.fate-ignore-slot {
  top: 2px;
  right: 2px;
}
.fate-infusion {
  font-size: 10px;
  bottom: 2px;
  left: 2px;
  padding: 1px 1px 2px 0px;
}

/* STATUS INDICATORS: Styling */
.fate-question-mark {
  padding: 0px 0px 1px 0px;
}
.fate-thumbs-down {

}















.foaf-pve {
  top:2px;
  left:2px;
}
.foaf-pvp {
  top:2px;
  left:19px;
}
.foaf-raid {
  top: 19px;
  left: 2px;
}

.foaf-favourite {
  color: rgba(255,144,177,1);
  top: 2px;
  right: 2px;
}
