.foaf-glyph {
  background-color: transparent;
  font-size: 11px;
  position: absolute;
  text-shadow: none;
}

.foaf-dupe {
  color: white;
  left: 1px;
  bottom: 2px;
}

/* TODO: Verify this still works! */
.foaf-junk {
  color: rgba(206,82,70,1);
  font-size: 14px;
  left: 0px;
  padding: 0;
  bottom: 1px;
}

.foaf-pve {
  color: rgba(93,181,110,1);
  left: 0;
  bottom: 2px;
}

.foaf-pvp {
  color: rgba(93,181,110,1);
  left: 1px;
  bottom: 2px;
}

.foaf-element {
  width: 4px;
  height: 5px;
  bottom: 3px;
  right: 0;
}

.foaf-masterwork {
  background-color: rgba(255,217,0,1);
  width: 4px;
  height: 5px;
  bottom: 4px;
  right: 0;
}

.foaf-infusable {
  color: rgb(0, 255, 186);
  background-color: rgba(0, 0, 0, 0.65);
  padding: 3px 1px 2px 1px;
  bottom: 14px;
  right: 0px;
  font-size: 12px;
}

.foaf-fave {
  color: rgba(93,181,110,1);
  font-size: 14px;
  padding: 0;
  bottom: 1px;
  left: 0;
}

.foaf-wishlist-pass {
  color: #3b49fe;
  background-color: rgba(0,0,0,0.5);
  font-size: 15px;
  padding: 1px 0;
  top: 0;
  right: 0;
}

.bucket-2465295065 .foaf-wishlist-pass,
.bucket-953998645 .foaf-wishlist-pass
{
  left: 0;
  right: unset;
}

.foaf-wishlist-fail {
  color: #fe3b3b;
  background-color: rgba(0,0,0,0.5);
  font-size: 16px;
  padding: 1px 0px;
  top: 0;
  right: 0;
}

.foaf-attuned
{
  color: rgba(255,255,255,0.9);
  background-color: rgba(210, 82, 58, 0.5);
  font-size: 16px;
  padding: 2px 5px;
  bottom: 16;
  right: 0;
}