/* Used when focusing on specific weapons (to dim others) */
.fate-search-hidden {
  opacity: 0.2;
}

/* Allows you to change feed URL */
.fate-config {
  font-weight: bold !important;
  color: #f5dc56 !important;
}

/* Colors used on FOAF's various indicators */
.fate-positive {
  color: rgba(93,181,110,1);
}

.fate-negative {
  color: rgba(206,82,70,1);
}

.fate-middling {
  color: rgba(221,221,221,1);
}

.item[data-fate-dimtag-infuse='true']::before {
  background-color: yellow !important; 
  content: " ";
  position: absolute;
  height: var(--item-size);
  opacity: 0.5;
  width: var(--item-size);
}

[data-fate-armor-registered='true'] > .foaf-item-overlay {
  background-color: rgba(31,31,31,1);
  color: rgba(255,255,255,0.8);
  font-size: 9px;
  padding: 0 2px 1px 2px;
  position: absolute;
  text-shadow: none;
  top: 0;
  right: 0;
}

/*
  If the armor is registered we know its element. Remove DIM's.
*/
[data-fate-armor-registered='true'] .AtD93 > img {
  display: none;
}

[data-fate-element='solar'] .AtD93 > span {
  border-bottom: 2px solid rgba(240, 99, 30, 0.7);
}

[data-fate-element='void'] .AtD93 > span {
  border-bottom: 2px solid rgba(177, 134, 224, 0.7);
}

[data-fate-element='arc'] .AtD93 > span {
  border-bottom: 2px solid rgba(121, 187, 232, 0.7);
}

#max-light {
  position: absolute;
  font-size: 11px;
  top: 15px;
  right: 10px;
}

.max-light-buffer {
  width: 10px !important;
}

#max-light th {
  font-size: 11px;
  width: 25px;
}

#max-light td {
  width: 25px;
  text-align: center;
}

td.min-light {
  color: rgba(255,89,73,1);
  font-weight: bold;
  font-size: 12px;
}

/* Postmaster items should not be grayed out */
.bucket-215593132 .item
{
  opacity: unset !important;
}

/*
  EFFECT: Dim all unregistered weapons and armor
  REASON: So we can find our registered items more easily!
*/
.item[data-fate-armor-registered=false][data-fate-dimtag-archive=false] > img,
.item[data-fate-weapon-registered=false][data-fate-dimtag-archive=false] > img
{
  opacity: 0.6;
}
