/*
  DUPLICATE INDICATOR
*/
[data-fate-weapon-dupe="false"] > .foaf-dupe
{
  display: none;
}

[data-fate-weapon-dupe="true"] > .foaf-dupe
{
  display: block;
}

[data-fate-weapon-junk="true"] > .foaf-dupe
{
  top: 17px;
}

/*
  UNREGISTERED INDICATOR
*/
[data-fate-weapon-registered="true"] > .foaf-unregistered
{
  display: none;
}

[data-fate-weapon-registered="false"] > .foaf-unregistered
{
  display: block;
}

/*
  JUNK INDICATOR
*/
[data-fate-weapon-junk="true"] > .foaf-junk
{
  display: block;
}

[data-fate-weapon-junk="false"] > .foaf-junk
{
  display: none;
}

/*
  PVE INDICATOR
*/
[data-fate-weapon-pve="true"] > .foaf-pve
{
  display: block;
}

[data-fate-weapon-pve="true"][data-fate-weapon-pvp="true"] > .foaf-pve
{
  right: 20px;
}

[data-fate-weapon-pve="false"] > .foaf-pve
{
  display: none;
}

/*
  PVP INDICATOR
*/
[data-fate-weapon-pvp="true"] > .foaf-pvp
{
  display: block;
}

[data-fate-weapon-pvp="false"] > .foaf-pvp
{
  display: none;
}

/*
  MASTERWORK INDICATOR
*/
[data-fate-masterwork="true"] > .foaf-masterwork
{
  display: block;
}

[data-fate-masterwork="false"] > .foaf-masterwork
{
  display: none;
}

[data-fate-weapon-registered="false"] > .foaf-masterwork,
[data-fate-weapon-pve="true"] > .foaf-masterwork,
[data-fate-weapon-pvp="true"] > .foaf-masterwork,
[data-fate-weapon-junk="true"] > .foaf-masterwork
{
  padding-left: 5px;
  top: 17px;
}

[data-fate-weapon-dupe="true"] > .foaf-masterwork
{
  padding-left: 5px;
  right: 20px;
}

/*
  INFUSION INDICATOR
*/
[data-fate-infusable="false"] > .foaf-infusable
{
  display: block;
}

[data-fate-infusable="false"] > .foaf-infusable
{
  display: none;
}
