/*
  UNREGISTERED SIDE EFFECTS
*/
[data-fate-weapon-registered="false"] > .foaf-pve,
[data-fate-weapon-registered="false"] > .foaf-pvp,
[data-fate-armor-registered="false"] > .foaf-pve,
[data-fate-armor-registered="false"] > .foaf-pvp
{
  display: none;
}

/*
  FAVE INDICATOR
*/
[data-fate-shader-keep="true"] > .foaf-fave
{
  display: block;
}

[data-fate-shader-keep="false"] > .foaf-fave,
[data-fate-shader-registered="false"] > .foaf-fave,
[data-fate-shader-keep="unknown"] > .foaf-fave
{
  display: none;
}

/*
  DUPLICATE INDICATOR
*/
[data-fate-weapon-dupe="false"] > .foaf-dupe
{
  display: none;
}

[data-fate-weapon-dupe="true"] > .foaf-dupe
{
  display: block;
}

/*
  JUNK INDICATOR
*/
[data-fate-shader-keep="true"] > .foaf-junk,
[data-fate-shader-registered="false"] > .foaf-junk,
[data-fate-shader-keep="unknown"] > .foaf-junk
{
  display: none;
}

[data-fate-shader-keep="false"] > .foaf-junk {
  display: block;
}

/*
  PVE INDICATOR
*/
[data-fate-weapon-pve="true"] > .foaf-pve,
[data-fate-armor-pve="true"] > .foaf-pve
{
  display: block;
}

[data-fate-weapon-pve="true"][data-fate-weapon-pvp="true"] > .foaf-pve,
[data-fate-armor-pve="true"][data-fate-armor-pvp="true"] > .foaf-pve
{
  left: 15px;
}

[data-fate-weapon-pve="false"] > .foaf-pve,
[data-fate-armor-pve="false"] > .foaf-pve
{
  display: none;
}

/*
  PVP INDICATOR
*/
[data-fate-weapon-pvp="true"] > .foaf-pvp,
[data-fate-armor-pvp="true"] > .foaf-pvp
{
  display: block;
}

[data-fate-weapon-pvp="false"] > .foaf-pvp,
[data-fate-armor-pvp="false"] > .foaf-pvp
{
  display: none;
}

/*
  MASTERWORK INDICATOR
*/
[data-fate-masterwork="true"] > .foaf-masterwork
{
  display: block;
}

[data-fate-masterwork="false"] > .foaf-masterwork
{
  display: none;
}

/*
  INFUSION INDICATOR
*/
[data-fate-infusable="true"] > .foaf-infusable
{
  display: block;
}

[data-fate-infusable="false"] > .foaf-infusable
{
  display: none;
}

/*
  WISHLIST REJECT INDICATOR

  If I haven't saved it as a good roll
    ...and I haven't marked it as "Junk" using DIM's tagging
    ...and DIM's wishlist rejects it
    ...then show an overlay indicating it's no bueno.
*/
.item[data-fate-weapon-registered='false'][data-fate-dimtag-junk='false'][data-fate-wishlist-status='rejected'] > .foaf-wishlist-fail
{
  display: block;
}
.item[data-fate-wishlist-status='not-registered'] > .foaf-wishlist-fail,
.item[data-fate-wishlist-status='accepted'] > .foaf-wishlist-fail,
.item[data-fate-weapon-registered='true'] > .foaf-wishlist-fail,
.item[data-fate-dimtag-junk='true'] > .foaf-wishlist-fail,
.item[data-fate-weapon-registered='false'][data-fate-dimtag-junk='false'][data-fate-wishlist-status='accepted'] > .foaf-wishlist-fail
{
  display: none;
}

/*
  WISHLIST ACCEPT INDICATOR

  If I haven't saved it as a good roll
    ...and I haven't marked it as "Junk" using DIM's tagging
    ...and DIM's wishlist accepts it
    ...then show an overlay indicating it's interesting!
*/
.item[data-fate-weapon-registered='false'][data-fate-dimtag-junk='false'][data-fate-wishlist-status='accepted'] > .foaf-wishlist-pass
{
  display: block;
}
.item[data-fate-wishlist-status='not-registered'] > .foaf-wishlist-pass,
.item[data-fate-wishlist-status='rejected'] > .foaf-wishlist-pass,
.item[data-fate-weapon-registered='true'] > .foaf-wishlist-pass,
.item[data-fate-dimtag-junk='true'] > .foaf-wishlist-pass,
.item[data-fate-weapon-registered='false'][data-fate-dimtag-junk='false'][data-fate-wishlist-status='rejected'] > .foaf-wishlist-pass
{
  display: none;
}

/*
  ELEMENT INDICATOR
*/
.item[data-fate-element='arc'] > .foaf-element
{
  display: block;
  background-color: rgba(32,146,213);
}

.item[data-fate-element='solar'] > .foaf-element
{
  display: block;
  background-color: rgba(255,41,0,1);
}

.item[data-fate-element='void'] > .foaf-element
{
  display: block;
  background-color: rgba(153,88,220,1);
}

.item[data-fate-element='kinetic'] > .foaf-element
{
  display: none;
}

/*
  Position of the light level depends on if there are any other icons to show
  to the right of it.
*/
.item[data-fate-element='kinetic'][data-fate-masterwork='false'] .hcIF4
{
  padding-right: 0;
}

/*
  If the masterwork tick is to appear on an affinity item, push it up.
*/
div.item:not([data-fate-element='kinetic']) > .foaf-masterwork
{
  bottom: 7px;
}