.foaf-glyph {
  background-color: transparent;
  font-size: 11px;
  position: absolute;
  text-shadow: none;
}

.foaf-dupe {
  color: rgba(221,221,221,0.75);
  left: 0;
  bottom: -1px;
  font-size: 12px;
}

.foaf-junk {
  color: rgba(206,82,70,1);
  font-size: 12px;
  padding: 0 1px;
  left: 1px;
  bottom: 1px;
}

.foaf-pve {
  color: rgba(93,181,110,1);
  left: 0;
  bottom: 1px;
}

.foaf-pvp {
  color: rgba(93,181,110,1);
  left: 0px;
  bottom: 1px;
}

.foaf-masterwork {
  border-top: 1px solid rgba(255,217,0,1);
  width: 10px;
  height: 0;
  position: absolute;
  bottom: 1px;
  left: 3px;
}

.foaf-infusable {
  background-color: rgba(0,0,0,0.5);
  color: rgba(93,181,110,1);
  padding: 0;
  left: 0;
  bottom: 16px;
  font-size: 11px;
}

.foaf-fave {
  color: rgba(93,181,110,1);
  font-size: 12px;
  padding: 0;
  bottom: 1px;
  left: 1px;
}
