/* Used when focusing on specific weapons (to dim others) */
.fate-search-hidden {
  opacity: 0.2;
}

/* Allows you to change feed URL */
.fate-config {
  font-weight: bold !important;
  color: #f5dc56 !important;
}

/* Colors used on FOAF's various indicators */
.fate-positive {
  color: rgba(93,181,110,1);
}

.fate-negative {
  color: rgba(206,82,70,1);
}

.fate-middling {
  color: rgba(221,221,221,1);
}

/*
  If I've marked an item as "Archive" using DIM's tagging
    ...remove the archive icon
    ...add our decorations
*/
.item[data-fate-dimtag-archive='true']
{
  border: 1px dashed rgba(255,255,255,0.4);
}

/*
  If I've marked an item as "Junk" using DIM's tagging
    ...fade the image
    ...remove the elemental display
*/
[data-fate-dimtag-junk='true'] .item-img {
  filter: grayscale(100%);
  opacity: 0.6;
}
[data-fate-dimtag-junk='true'] .AtD93 > img {
  display: none;
}

/*
  If I haven't saved it as a good roll
    ...and I haven't marked it as "Junk" using DIM's tagging
    ...and DIM's wishlist rejects it
    ...then show an overlay indicating it's no bueno.
*/
.item[data-fate-weapon-registered='false'][data-fate-dimtag-junk='false'][data-fate-wishlist-status='rejected']::before,
.item[data-fate-armor-registered='false'][data-fate-dimtag-junk='false'][data-fate-wishlist-status='rejected']::before
{
  background-color: red;
  content: " ";
  position: absolute;
  height: var(--item-size);
  opacity: 0.5;
  width: var(--item-size);
}

/*
  If I haven't saved it as a good roll
    ...and I haven't marked it as "Junk" using DIM's tagging
    ...and DIM's wishlist acceptss it
    ...then show an overlay indicating it's interesting!
*/
.item[data-fate-weapon-registered='false'][data-fate-dimtag-junk='false'][data-fate-wishlist-status='accepted']::before,
.item[data-fate-armor-registered='false'][data-fate-dimtag-junk='false'][data-fate-wishlist-status='accepted']::before
{
  background-color: #08e208;
  content: " ";
  position: absolute;
  height: var(--item-size);
  opacity: 0.5;
  width: var(--item-size);
}

.item[data-fate-dimtag-infuse='true']::before {
  background-color: yellow !important; 
  content: " ";
  position: absolute;
  height: var(--item-size);
  opacity: 0.5;
  width: var(--item-size);
}

[data-fate-armor-registered='true'] > .foaf-item-overlay {
  background-color: rgba(31,31,31,1);
  color: rgba(255,255,255,0.8);
  font-size: 9px;
  padding: 0 2px 1px 2px;
  position: absolute;
  text-shadow: none;
  top: 0;
  right: 0;
}

/*
  If the armor is registered we know its element. Remove DIM's.
*/
[data-fate-armor-registered='true'] .AtD93 > img {
  display: none;
}

[data-fate-element='solar'] .AtD93 > span {
  border-bottom: 2px solid rgba(240, 99, 30, 0.7);
}

[data-fate-element='void'] .AtD93 > span {
  border-bottom: 2px solid rgba(177, 134, 224, 0.7);
}

[data-fate-element='arc'] .AtD93 > span {
  border-bottom: 2px solid rgba(121, 187, 232, 0.7);
}

#max-light {
  position: absolute;
  font-size: 11px;
  top: 15px;
  right: 10px;
}

.max-light-buffer {
  width: 10px !important;
}

#max-light th {
  font-size: 11px;
  width: 25px;
}

#max-light td {
  width: 25px;
  text-align: center;
}

td.min-light {
  color: rgba(255,89,73,1);
  font-weight: bold;
  font-size: 12px;
}

/* Postmaster items should not be grayed out */
.bucket-215593132 .item
{
  opacity: unset !important;
}
