/*
  UNREGISTERED SIDE EFFECTS
*/
/* [data-fate-weapon-registered="false"] > .foaf-pve,
[data-fate-weapon-registered="false"] > .foaf-pvp,
[data-fate-armor-registered="false"] > .foaf-pve,
[data-fate-armor-registered="false"] > .foaf-pvp
{
  display: none;
} */
.foaf-pve,
.foaf-pvp
{
  display: none;
}

/*
  PVE + PVP INDICATORS
  If both are enabled, show nothing. Any registered weapon is good for both.
*/
[data-fate-weapon-pve="true"][data-fate-weapon-pvp="true"] > .foaf-pve,
[data-fate-weapon-pve="true"][data-fate-weapon-pvp="true"] > .foaf-pvp,
[data-fate-armor-pve="true"][data-fate-armor-pvp="true"] > .foaf-pve,
[data-fate-armor-pve="true"][data-fate-armor-pvp="true"] > .foaf-pvp
{
  display: none;
}

/*
  PVE INDICATOR
*/
[data-fate-weapon-pve="true"] > .foaf-pve,
[data-fate-armor-pve="true"] > .foaf-pve
{
  display: block;
}

/*
  PVP INDICATOR
*/
[data-fate-weapon-pvp="true"] > .foaf-pvp,
[data-fate-armor-pvp="true"] > .foaf-pvp
{
  display: block;
}

/*
  INFUSION INDICATOR
*/
.foaf-infusable
{
  display: none;
}

[data-fate-infusable="true"] > .foaf-infusable
{
  display: block;
}

/*
  WISHLIST REJECT INDICATOR

  If I haven't saved it as a good roll
    ...and I haven't marked it as "Junk" using DIM's tagging
    ...and DIM's wishlist rejects it
    ...then show an overlay indicating it's no bueno.
*/
.item[data-fate-weapon-registered='false'][data-fate-dimtag-junk='false'][data-fate-wishlist-status='rejected'] > .foaf-wishlist-fail
{
  display: block;
}
.item[data-fate-wishlist-status='not-registered'] > .foaf-wishlist-fail,
.item[data-fate-wishlist-status='accepted'] > .foaf-wishlist-fail,
.item[data-fate-weapon-registered='true'] > .foaf-wishlist-fail,
.item[data-fate-dimtag-junk='true'] > .foaf-wishlist-fail,
.item[data-fate-weapon-registered='false'][data-fate-dimtag-junk='false'][data-fate-wishlist-status='accepted'] > .foaf-wishlist-fail
{
  display: none;
}

/*
  WISHLIST ACCEPT INDICATOR

  If I haven't saved it as a good roll
    ...and I haven't marked it as "Junk" using DIM's tagging
    ...and DIM's wishlist accepts it
    ...then show an overlay indicating it's interesting!
*/
.item[data-fate-weapon-registered='false'][data-fate-dimtag-junk='false'][data-fate-wishlist-status='accepted'] > .foaf-wishlist-pass
{
  display: block;
}
.item[data-fate-wishlist-status='not-registered'] > .foaf-wishlist-pass,
.item[data-fate-wishlist-status='rejected'] > .foaf-wishlist-pass,
.item[data-fate-weapon-registered='true'] > .foaf-wishlist-pass,
.item[data-fate-dimtag-junk='true'] > .foaf-wishlist-pass,
.item[data-fate-weapon-registered='false'][data-fate-dimtag-junk='false'][data-fate-wishlist-status='rejected'] > .foaf-wishlist-pass
{
  display: none;
}

/*
  ELEMENT INDICATOR
*/
.item[data-fate-dimtag-junk='true'] > .foaf-element
{
  display: none !important;
}

.item[data-fate-element='arc'] > .foaf-element
{
  display: block;
  background-color: rgb(51, 165, 232);
}

.item[data-fate-element='solar'] > .foaf-element
{
  display: block;
  background-color: rgba(255,41,0,1);
}

.item[data-fate-element='void'] > .foaf-element
{
  display: block;
  background-color: rgb(175, 133, 218);
}

.item[data-fate-element='stasis'] > .foaf-element
{
  display: block;
  background-color: rgb(76, 90, 191);
}

.item[data-fate-element='strand']>.foaf-element {
  display: block;
  background-color: rgb(52, 227, 102);
}

.item[data-fate-element='kinetic'] > .foaf-element
{
  display: none;
}

/*
  ATTUNEMENT COMPLETE
*/
.item[data-fate-attuned='false'] > .foaf-attuned
{
  display: none
}

.item[data-fate-attuned='true'] > .foaf-attuned
{
  display: block
}