.foaf-glyph {
  background-color: transparent;
  font-size: 11px;
  position: absolute;
  text-shadow: none;
}

.foaf-dupe {
  color: rgba(221,221,221,1);
  padding: 0px 0px 2px 2px;
  right: 0px;
  bottom: 14px;
  font-size: 12px;
}

.foaf-junk {
  color: rgba(206,82,70,1);
  font-size: 12px;
  padding: 0 1px;
  left: 1px;
  bottom: 1px;
}

.foaf-pve {
  color: rgba(93,181,110,1);
  padding: 0 1px 1px 0px;
  left: 0;
  bottom: 1px;
}

.foaf-pvp {
  color: rgba(93,181,110,1);
  padding: 0 1px 1px 0px;
  left: 0px;
  bottom: 1px;
}

/* Energy and Power Weapons */
.foaf-masterwork {
  border-top: 1px solid rgba(255,217,0,1);
  width: 10px;
  height: 0;
  position: absolute;
  bottom: 1px;
  left: 3px;
}

.foaf-infusable {
  color: rgba(93,181,110,1);
  font-size: 10px;
  bottom: 1px;
  left: 1px;
  padding: 1px 1px 2px 0px;
}

.foaf-fodder {
  color: rgb(31, 222, 245);
  font-size: 10px;
  bottom: 1px;
  left: 1px;
  padding: 1px 1px 2px 0px;
}

.foaf-fave {
  color: rgba(93,181,110,1);
  font-size: 12px;
  padding: 0;
  bottom: 1px;
  left: 1px;
}

.foaf-armor-stat {
  font-size: 9px;
  height: 11px;
  left: 0;
  padding-left: 1px;
  width: 11px;
}

.foaf-stat-low {
  color: rgba(255, 255, 255, 0.05);
}

.foaf-stat-med {
  color: rgba(255,255,255,0.4);
}

.foaf-stat-high {
  color: rgba(255,255,255,1);
}

.foaf-mob {
  background-color: rgba(31,31,31,1);
  font-size: 8px;
  height: 66px;
  top: 0;
  width: 12px;
}

.foaf-res {
  padding-left: 2px;
  top: 11px;
}

.foaf-rec {
  top: 22px;
}

.foaf-dis {
  padding-left: 2px;
  top: 33px;
}

.foaf-int {
  top: 44px;
}

.foaf-str {
  padding-left: 2px;
  top: 55px;
}

.foaf-total {
  background-color: rgba(31,31,31,0.75);
  font-size: 10px;
  font-weight: bold;
  padding: 0 2px 1px 3px;
  right: 0;
  text-align: right;
  top: 0;
}