.foaf-fave:before { content: '\e800'; } /* '' */
.foaf-pvp:before { content: '\e801'; } /* '' */
.foaf-knives:before { content: '\e802'; } /* '' */
.foaf-question-mark:before { content: '\e803'; } /* '' */
.foaf-pve:before { content: '\e804'; } /* '' */
.foaf-thumbs-down:before { content: '\e805'; } /* '' */
.foaf-up:before { content: '\e806'; } /* '' */
.foaf-skull:before { content: '\e807'; } /* '' */
