
.foaf-pvp:before { content: '\e802'; } /* '' */
.foaf-question-mark:before { content: '\f128'; } /* '' */
.foaf-pve:before { content: '\f132'; } /* '' */
.foaf-thumbs-up:before { content: '\f164'; } /* '' */
.foaf-thumbs-down:before { content: '\f165'; } /* '' */