
.foaf-pvp:before { content: '\e800'; } /* '' */
.foaf-help:before { content: '\f128'; } /* '' */
.foaf-thumbs-down:before { content: '\f165'; } /* '' */
.foaf-pve:before { content: '\f1ae'; } /* '' */